/* Font Used */

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Oswald:wght@400;600;700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap"); */

/* Variables */

:root {
  --c-brand: #36454f;
  --c-brand-rgb: 248, 54, 145;
  --c-dark: #778899;
  --c-body: #636383;
  --f-main: "Oswald", sans-serif;
  /* --font-family: "Barlow", sans-serif; */
  --transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  --shadow: 0px 15px 48px rgba(0, 0, 0, 0.1);
}
*,
html {
  scroll-behavior: smooth;
}
/* Reset & Helpers */
body {
  font-family: var(--f-main);
  color: var(--c-body);
  line-height: 1.7;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-dark);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand);
}
p {
  font-size: 1.1rem;
}

img {
  width: 100%;
}

.section-padding {
  padding: 120px 0 120px 0;
}

.text-brand {
  color: var(--c-brand);
}

.section-title {
  max-width: 560px;
  margin: 0 auto 60px auto;
}

.section-title .line {
  width: 60px;
  height: 2px;
  background-color: var(--c-brand);
  display: inline-block;
}

.section-connector {
  position: relative;
}
.section-connector::after {
  content: "";
  width: 2px;
  height: 100px;
  background-color: var(--c-brand);
  position: absolute;
  top: -50px;
  left: 50%;
}

/* Navbar */
.navbar {
  padding: 30px 0 30px 0;
  transition: var(--transition);
}

.navbar.scrolled {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: white;
  box-shadow: var(--shadow);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.navbar .navbar-nav .nav-link {
  font-weight: 700;
  color: var(--c-dark);
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--c-brand);
}

.navbar-brand {
  height: 50px;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.social-icons {
  width: 36px;
  height: 36px;
  background-color: var(--c-brand);
  color: white;
  border: 2px solid var(--c-brand);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
}
.social-icons:hover {
  background-color: transparent;
}

/* Btn */
.btn {
  padding: 10px 24px;
  border-radius: 24px;
  border-width: 2px;
  font-weight: 500;
}
.btn-brand {
  background-color: var(--c-brand);
  color: white;
  border-color: var(--c-brand);
}
.btn-brand:hover {
  background-color: whitesmoke;
  color: var(--c-brand);
  border-color: var(--c-brand);
}

/* Btn2 */
.btn2 {
  padding: 10px 24px;
  border-radius: 24px;
  border-width: 2px;
  border-style: solid;
  font-weight: 500;
  border-color: var(--c-brand);
}
.btn2-brand2 {
  background-color: transparent;
  color: var(--c-brand);
  border-color: var(--c-brand);
}
.btn2-brand2:hover {
  background-color: var(--c-brand);
  color: white;
  border-color: var(--c-brand);
}

/* Home */
#home {
  background-image: url(../images/MacBook.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e7e7e7;
  background-position: 100% 20%;
  background-attachment: fixed;
}
/* Media Query for Mobile View */
@media (max-width: 768px) {
  #home {
    background-size: auto 90%; /* Adjust the height to maintain aspect ratio */
    background-position: 45% bottom; /* Adjust the position if needed */
    background-attachment: fixed; /* Allow scrolling on mobile */
  }
}

/* Services */
.service-icon {
  width: 60px;
  height: 60px;
  background-color: var(--c-brand);
  color: white;
  font-size: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.custom-link {
  display: inline-flex;
  align-items: center;
}

.custom-link i {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-brand);
  border-radius: 100px;
  color: white;
  margin-left: 6px;
  transition: var(--transition);
}

.custom-link:hover i {
  transform: translateX(6px);
}

/* Work */

.project {
  overflow: hidden;
  position: relative;
}

.project .content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--c-dark);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project img,
.project .content {
  transition: var(--transition);
}

.project:hover .content {
  top: 0;
}

.project:hover img {
  transform: translateY(-100%);
}

/* Client */
.client img {
  opacity: 0.7;
  height: 30;
}

/* About */
.eduexp {
  position: relative;
}

.eduexp::before {
  content: "";
  height: 100%;
  width: 1px;
  background-color: var(--c-dark);
  position: absolute;
  left: 0;
  top: 0;
}
.eduexp::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: var(--c-brand);
  position: absolute;
  left: -7px;
  top: 0;
}

/* Tools */

.logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.logo-item img {
  max-width: 75px;
  max-height: 75px;
  transition: transform 0.3s ease;
}

.logo-item img:hover {
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Footer */
footer {
  background-color: rgb(231, 231, 231);
}

footer h4 {
  color: white;
}
